.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    /* background-color: #f9f9f9; */
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.my-footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;     
}


body {
    background-color: #f9f9f9;
    /* background-color: #282c34; */
    /* background-color: #222222; */
}

p {
    /* color: white; */
}

h1 {
    /* color: #c678dd; */
    /* color: white; */
}

h2 {
    /* color: white; */
}
h3 {
    /* color: white; */
}

.card-thumbnail {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-footer {
    font-size: 12px;
}
.card {
    /* max-height: 10rem; */
}
