.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    /* background-color: #f9f9f9; */
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.my-footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;
}


body {
    background-color: #f9f9f9;
    /* background-color: #f5f5dc; */
    /* background-color: #F5F5F5	; */
    background-color: #D1D7E0;
    /* background-color: white; */
    /* background-color: #282c34; */
    /* background-color: #222222; */
    /* background-color: black; */
}
.container {
    /* background-color: #222222; */
}
.my-dark-grey-background {
    /* background-color: #222222; */
    /* background-color: #4C495D; */
}
.purple-text {
    color: #802BB1;
}
.navbar-color {
    /* background-color: black; */
    /* background-color: #802BB1; */
}
p {
    /* color: white; */
}
h1 {
    /* color: white; */
}
h2 {
    /* color: white; */
}
h3 {
    /* color: white; */
}
h4 {
    /* color: white; */
}
h5 {
    /* color: white; */
}
.my-card-footer {
    font-size: 10px;
}
.card {
    /* height: 10rem; */
}

img {
    width: 100%;
    height: 100%;
    object-fit:  cover;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
