{% extends 'cities/cities_base.html' %}

{% block pre_city %}


    <div class="col-md-4">

        <div class="content">

            {% if user.is_authenticated %}

                <h2>Welcome back
                    <a href="{% url 'posts:for_user' username=user.username %}">@{{user.username }}</a>
                </h2>

            {% else %}

            {% endif %}

            <h2>Cities List</h2>


        </div>

    </div>


{% endblock %}


{% block city_content %}

<div class="container">

    
    
<div class="col-md-8">


    <div class="list-group">
        {% for city in cities_list %} <!--this is from the views.py, it automatically passes this list-->
            <a href="{% url 'cities:single' slug=city.slug %}"
               class ="list-group-item list-group-item-action flex-column align-items-start">


                <h3 class="mb-1">{{ city.name }}</h3>
                <div class="d-flex w-40 justify-content-between">
                    <small class="text-muted"><span class="badge badge-secondary">
                        {{ city.posts.count }}</span> post{{ city.posts.count|pluralize }}</small>
                    <span></span><span></span>
                </div>


            </a>

    {% endfor %}
  </div>


</div>
</div>


{% endblock %}


{% block post_city %}





{% endblock %}

<!-- pretty much done, but there's some group classes that maybe should be rewrittedn -->
