{% extends "cities/cities_base.html" %}

{% block pre_city %}


<div class="container">

  <h1>{{ city.name }}</h1>

</div>

{% endblock %}

{% block city_content %}


<div class="col-md-8">

        {% if cities.posts.count == 0 %}
        <h2>No posts in this city yet! Please post one!</h2>

        {% else %}
                {% for post in city.posts.all %}
                        {% include "posts/_post.html" %}
                {% endfor %}

        {% endif %}


</div>


{% endblock %}


<!-- seems to be done -->
