{% extends "cities/cities_base.html" %}


{% block pre_city %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <div class="container">
    </div>

    <script>
     $(document).ready(function(){
         $("#myInput").on("keyup", function() {
             var value = $(this).val().toLowerCase();
             $("#myDIV *").filter(function() {
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
         });
     });
    </script>


    <div class="container">
        <h1>Cities in {{ state.name }}</h1>

        <input class="form-control" id="myInput" type="text" placeholder="Filter cities...">
    </div>
{% endblock %}


{% block city_content %}


    <div class="container">
        
        <div class="row">
            <div class="col-12">

                <div class="list-group my-3" id="myDIV">

                    {% for city in state.cities.all %} <!--this is from the views.py, it automatically passes this list-->
                        <a href="{% url 'cities:single' slug=city.slug pk=city.pk %}"
                           class ="list-group-item-light list-group-item list-group-item-action flex-column align-items-start my-1 my-dark-grey-background">


                            <h3 class="mb-1">{{ city.name }}</h3>
                            <div class="d-flex w-40 justify-content-between">
                                <small class="text-muted"><span class="badge badge-secondary">
                                    {{ city.posts.count }}</span> post{{ city.posts.count|pluralize }}</small>
                                <span></span><span></span>
                            </div>


                        </a>

                    {% endfor %}
                </div>        
                
            </div>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </div>

    {% include 'cities/back_to_top_button.html' %}
    

{% endblock %}



