{% extends 'cities/cities_base.html' %}



{% block pre_city %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div class="container">
    </div>

    <script>
     $(document).ready(function(){
         $("#myInput").on("keyup", function() {
             var value = $(this).val().toLowerCase();
             $("#myDIV *").filter(function() {
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
         });
     });
    </script>


    <div class="container">
        <h1>States</h1>

        <input class="form-control" id="myInput" type="text" placeholder="Search for states...">
    </div>
{% endblock %}


{% block city_content %}

    
    <div class="container">
        
        <div class="row">
            <div class="col-12">


                <div class="list-group my-3" id="myDIV">
                    {% for state in states_list %} <!--this is from the views.py, it automatically passes this list-->
                        <a href="{% url 'cities:state_detail' slug=state.slug %}"
                           class ="list-group-item-light list-group-item list-group-item-action flex-column align-items-start my-1 my-dark-grey-background">


                            <h3 class="mb-1">{{ state.name }}</h3>
                            

                            
                        </a>

                    {% endfor %}
                </div>
                

            </div>
        </div>
        

    </div>

    <script>
     $(document).ready(function(){
         $("#myInput").on("keyup", function() {
             var value = $(this).val().toLowerCase();
             $("#myDIV *").filter(function() {
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
         });
     });
    </script>

{% endblock %}
