{% extends 'base.html' %}


{% block page_title %}
    <title>About</title>
{% endblock %}


{% block body %}

    <div
        class="container">
        
        <!-- Header -->
        <div
            class="position-relative text-center">
            <h1
                class="display-4 font-weight-normal">
                About CopsAccountable
            </h1>
            <p
                class=""lead
                font-weight-normal">
                A site designed to encourage community oversight of and involvement with the police.
            </p>
            <div 
class="product-device shadow-sm d-none d-md-block">
            </div>
            <div 
                class="product-device product-device-2 shadow-sm d-none d-md-block">
            </div>
        </div>
        
        <p>
	    This site was made by the Princeton Men's Soccer class of 2023 in an effort to hold police officers around the country accountable for their actions, both good and bad. Unfortunately, sites like this are incredibly necessary given the injustices that are still occuring in 2020.
	</p>
    </div>
{% endblock %}


