{% extends 'base.html' %}



{% block page_title %}
<title>Home</title>
{% endblock %}



{% block body %}

<!-- Jumbotron -->
<div class="jumbotron text-center">
    <div class="container">
	<h1>Welcome to CopsAccountable.com</h1>
	<p><em>A site designed to encourage community oversight of and involvement with the police</em></p>
    </div>	    
</div>

<!-- video cards -->

<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-8">
      {% for post in post_list %}
      {% include "posts/_post.html" %}
      {% endfor %}
    </div>  
      
    
  </div>

</div>




{% endblock %}
