{% extends 'base.html' %}



{% block page_title %}
<title>Home</title>
{% endblock %}



{% block body %}
<div style="background-color:white;">

    
    <!-- Jumbotron -->
    <!-- <div class="jumbotron text-center">
         <div class="container">
         <h1>Welcome to CopsAccountable.com!</h1>
         <p><em>A site designed to encourage community oversight of and involvement with the police</em></p>
         </div>	    
         </div> -->

    <div class="position-relative <!-- overflow-hidden --> <!-- p-3 p-md-5 m-md-3 --> text-center bg-light">
        <!-- <div class="col-md-5 p-lg-5 mx-auto my-5"> -->
        <h1 class="display-4 font-weight-normal"><strong>Welcome to CopsAccountable</strong></h1>
        <p class=""lead font-weight-normal">A site designed to encourage community oversight of and involvement with the police.</p>
        <a class="btn btn-outline-secondary" href="{% url 'cities:all' %}
                  ">Cities</a>
        <!-- </div> -->
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>


    
</div>


{% endblock %}
