<div class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-color">

        <a class="navbar-brand nav-link text-dark dope-hover-link" href="{% url 'home' %}"><strong>C.A.</strong></a>

        <button class="dope-ass-text navbar-toggler border border-dark p-2" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="this-toggle-button">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <span class="">menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav">
                <a class="nav-item nav-link text-dark dope-hover-link" href="{% url 'about' %}">About<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link text-dark dope-hover-link" href="{% url 'cities:list_states' %}">States<span class="sr-only">(current)</span></a>
            </div>
            <a class="nav-item nav-link text-dark dope-hover-link" href="{% url 'posts:worst_posts' %}">Worst Posts<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-dark dope-hover-link" href="{% url 'posts:best_posts' %}">Best Posts<span class="sr-only">(current)</span></a>
            <form class="form-inline my-2 my-lg-0" action="{% url 'posts:search' %}" method="GET">
                <input class="form-control mr-sm-2 this-search-bar" type="search" placeholder="Search for posts" aria-label="Search" name="q">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
        </div>

        <!-- changes to sign in or log jout based on the status of the user -->
        <ul class="nav justify-content-end collapse navbar-collapse" id="navbarNavAltMarkup">   
            {% if user.is_authenticated %}
                <li class="nav-item"><a class ="nav-link text-dark dope-hover-link" href="{% url 'posts:create' %}">Post</a></li>
                
                <li class="nav-item"><a class ="nav-link text-dark dope-hover-link" href="{% url 'posts:user_page' username=user.username %}">@{{ user.username }}</a></li>
                <li class="nav-item"><a class ="nav-link text-dark dope-hover-link" href="{% url 'accounts:logout' %}">Log Out</a></li>
            {% else %}

                <li class="nav-item"><a class ="nav-link text-dark dope-hover-link" href="{% url 'accounts:login' %}">Log In</a></li>


                <li class="nav-item"><a class ="nav-link text-dark dope-hover-link" href="{% url 'accounts:signup' %}">Sign Up</a></li>

            {% endif %}
        </ul>
    </nav>
</div>

<!-- take from here: https://codepen.io/jstn/pen/zuDst -->
<style>
 /* body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000;
    } */
 /* ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
    }
    li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
    } */
 .dope-hover-link {
     /* color: #fff; */
     color: #000;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 0.15em;
     
     display: inline-block;
     padding: 15px 20px;
     position: relative;
 }
 .dope-hover-link:after {    
     background: none repeat scroll 0 0 transparent;
     bottom: 0;
     content: "";
     display: block;
     height: 2px;
     left: 50%;
     position: absolute;
     /* background: #fff; */
     background: #000;
     transition: width 0.3s ease 0s, left 0.3s ease 0s;
     width: 0;

     color: #000
 }
 .dope-hover-link:hover:after { 
     width: 100%; 
     left: 0;
     
     color: #000;
 }
 @media screen and (max-height: 300px) {
     ul {
	 margin-top: 40px;
     }
 }

 h1 {
     color: #000;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 0.15em;
     
     display: inline-block;
     padding: 15px 20px;
     position: relative;
 }
 h2 {
     color: #000;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 0.06em;
     
     display: inline-block;
     padding: 15px 20px;
     position: relative;
 }
 h3 {
     color: #000;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 0.06em;
     
     display: inline-block;
     padding: 15px 20px;
     position: relative;
 }
 .dope-ass-text {
     color: #000;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 0.15em;
     
     display: inline-block;
     padding: 15px 20px;
     position: relative;
 }

 #this-toggle-button {
     /* max-width:1em; */
     font-size:1em;
 }

</style>
