
<div class="card bg-light w-100 my-3">
    <div class="row no-gutters">
        <a href="{% url 'posts:detail' username=post.user.username pk=post.pk %}" class="stretched-link"> </a> <!--cool stretched link thing-->

        <div class="col-4 my-card-thumbnail-container">     <!--card thumbnail-->

            {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" class="my-card-thumbnail"
                     alt="this post has no video">
            {% endif %}
        </div>
        <div class="col-8">     <!--body of card-->
            <div class="row align-items-start">
                <div class="col-12">
                    <h5 class="my-0 py-0"><strong>{{ post.title }}</strong></h5>
                </div>
                <div class="col-12">
                    <p class="my-0 py-0">{{ post.message_html|safe }}</p>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-12 my-card-footer"> <!--card footnote-->
                    <div class="row no-gutters align-items-end">
                        <div class="col my-0 py-0">
                            <p>upvotes: {{ post.people_who_upvoted.count }} downvotes:
                                {{ post.people_who_downvoted.count }}</p>
                        </div>
                        <div class="col">
                            <a class="my-0 py-0" href="{% url 'posts:detail' username=post.user.username pk=post.pk %}">
                                {{ post.created_at }}</a>
                        </div>
                        <div class="col">
                            <p class="my-0 py-0">comments: {{ post.post_comments.count }}</p>
                        </div>
                        <div class="col my-0 py-0"><p>Location: {{ post.city }}, {{ post.state }}</p>
                        </div>
                    </div>  
                </div>
            </div>    
        </div>
        
        
        </div>
</div>



