{% extends "posts/post_base.html" %}

{% block post_content %}


<div class="jumbotron text-center">
    <div class="container">
        <h1>{{ post.title }}</h1>
    </div>
</div>

<div class="container">
    
    <div class="row justify-content-center">

        <div class="col-12">
            {% if post.video %}
            <video width="900" height="400" controls>
                <source src="{{ post.video.url }}" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
            </video>
            {% endif %}            
        </div>
        
        <div class="col-12">
            <h3>Message:</h3>
            <p>{{ post.message }}</p>
            
        </div>
        
        
    </div>
    
</div>




<!-- </div> -->
{% endblock %}

<!-- seems to be done rn -->
