{% extends "posts/post_base.html" %}
{% load bootstrap4 %}

{% block post_content %}
    <div class="container">

        <!-- <h4>Create New Post</h4>
             <form method="POST" action="{% url 'posts:ajax_load_cities' %}" id="PostForm" enctype="multipart/form-data">
             {% csrf_token %}
             {% bootstrap_form form %}
             {% buttons %}
             <button type="submit" class="btn btn-primary btn-large">Post</button>
             {% endbuttons %}
             </form> -->

        <form method="post" id="postForm" data-cities-url="{% url 'posts:create' %}" novalidate>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">Post</button>
            <!-- <a href=" url 'person_changelist' ">Nevermind</a> -->
        </form>


        <!-- End of basic form -->
        
        
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


{% endblock %}

<!-- seems to be done rn -->

